*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body,#root{
    height: 100%;
    width: 100%;
}

.main-area{
    height: 100%;
    width: 100%;
    background-color: rgb(58, 54, 54);
    display: grid;
    grid-template-rows: 15% 1fr;
    grid-template-columns: 15% 1fr;
    grid-template-areas: "heading heading" "aside dynamic" ;
    gap: 1rem;
}

.heading{

    grid-area:  heading;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}
.heading h1{
    font-size: 5rem;
    letter-spacing: 5px;
    font-family: monospace;

}
.aside{
    grid-area: aside;
    border-radius: 1rem;
    border-right: 1px solid white;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aside a{
    height: 10%; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: monospace;
    cursor: pointer;

    background-color: white;
}
.aside a h1{
    color: rgb(58, 54, 54);

}
.dynamic{
    grid-area: dynamic;
    border-radius: 1rem;
    border-left: 1px solid white;
    border-top: 1px solid white;
}